/* layout */
.inner{width: 1170px; margin: 0 auto;}
.wrap{display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;}
.wrap_c{display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start; }
.wrap_s{display: flex; flex-flow: row wrap; align-items: center;}
.center{display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
.content{width: 100%; padding: 80px 0; background-size: cover;}
.search_input{width: 100%;}
.synergy_icon .black{width: 35px; height: 35px; background: url('../img/synergy/black.svg'); display: inline-block;}
.synergy_icon .black img{width: 15px; height: 15px; margin: 10px;}


@media screen and (max-width: 1200px){
    .inner{width: 100%;}
    .content{padding: 50px 30px;}
}
@media screen and (max-width: 768px){
    .content{padding: 40px 20px;}
}

/* 육각형 배치툴 */
.hex_wrap:nth-of-type(2n){margin-left: 80px;}
.hex{width: 77px; margin-bottom: 25px; position: relative;margin-right: 5px;}
.hex::after{content: ''; display: block; padding-bottom: 80%;}
.hex-inner{position: absolute; width: 100%; padding-bottom: 114.6%; overflow: hidden; visibility: hidden; transform: rotate3d(0,0,1,-60deg) skewY(30deg);}
.hex-inner *{position: absolute; visibility: visible;}
.hex-cont{display: flex; width: 100%; height: 100%; overflow: hidden; transform: skewY(-30deg) rotate3d(0,0,1,60deg); background: black; justify-content: center; align-items: center;}

.hex li.active{display: none;}

.hex-small{width: 70px;}

/* search */
.search{float: right; background: white; display: flex; justify-content: space-between; align-items: center; padding: 10px 15px; margin-top: 20px; background: #24262c; border-radius: 5px;}
.search select, .search .fa-search{color: white;}
.search .fa-search{float: right; line-height: 20px;}
.search select, .search .summoner_search{border: none; background: #24262c;}
.search .search_input .summoner_search{width: 85%; padding: 5px 0; margin: 0 12px;}

/* [type="checkbox"] */
[type="checkbox"] {appearance: none;position: relative;border: max(1px, 0.1em) solid gray;border-radius: 1.25em;width: 3em;height: 1.5em; background: url(/lolchess/img/icon/star.svg); background-repeat: no-repeat; background-position: center right 3px;}
[type="checkbox"]::before {content: "";position: absolute;left: 0;width: 1.3em;height: 1.3em;border-radius: 50%;transform: scale(0.8);background-color: white;transition: left 250ms linear;}
[type="checkbox"]:checked {background: url(/lolchess/img/icon/trait-toggle.svg); background-repeat: no-repeat; background-position: center left 3px;}
[type="checkbox"]:checked::before {background-color: white;left: 1.5em;}
[type="checkbox"]:disabled {border-color: lightgray;opacity: 0.7;cursor: not-allowed;}
[type="checkbox"]:disabled:before {background-color: lightgray;}
[type="checkbox"]:disabled + span {opacity: 0.7;cursor: not-allowed;}
[type="checkbox"]:focus-visible {outline-offset: max(2px, 0.1em); outline: max(2px, 0.1em) solid tomato;}





/*#header*/
#header .title{background: url(../img/bg-gnb-tft.png) 100% no-repeat; background-size: cover; padding: 50px 0;}
#header .title .logo{display: inline-block;}
#header .title .logo::before{content: '롤체지지'; color: #ea3395; float: right;}
#header .menu{background: rgba(0,0,0,0.9); padding: 10px 0;}
#header .menu .gnb{width: 388px; display: flex; flex-wrap: wrap; align-items: center;}
#header .menu .gnb li{position: relative;}
#header .menu .gnb li a{margin-right: 20px; color: #ddd;}
#header .menu .gnb li.on a::before{content: '';width: 74%;position: absolute;bottom: -3px;left: 0px;border-bottom: 2px solid white; border-radius: 50px;}
#header .menu .gnb li:nth-of-type(2).on a::before,
#header .menu .gnb li:nth-of-type(4).on a::before{width: 67%;}
#header .menu .gnb li:last-child a{margin-right: 0;}
#header .menu .gnb li:last-child a::before{width: 100%;}

#header .menu .gnb li:first-child a{border: 1px solid #ea3395;color: #ea3395; padding: 3px 7px 5px 4px;}
#header .menu .gnb li:first-child a:hover{background: #ea3395; color: black;}
#header .menu .gnb li:first-child a:hover::before{content: none;}
#header .update{background: #5b4ba5;}
#header .update a{color: white; padding: 15px 0;}
#header .update a span{color: aqua;}

@media screen and (max-width: 1200px){
    #header .inner{padding: 0 30px;}
}
@media screen and (max-width: 768px){
    #header .inner{padding: 0 20px;}
    #header .title{padding: 0 0 20px 0;}
    #header .title .logo img{width: 150px; padding: 20px 0 0;}
    #header .title .logo::before{display: none;}
    #header .title .search{float: none;}
    #header .menu nav{overflow: scroll;-ms-overflow-style: none; scrollbar-width: none;}
    #header .menu nav::-webkit-scrollbar{display: none;}
    
}



/*visual*/
#visual{background: url(../img/bg-index-magicmisacventures.jpg); background-size: cover; padding: 120px 0; text-align: center;}
#visual .logo{padding-bottom: 35px;}
#visual .search{background: white; width: 55%; padding: 10px 15px; display: flex; justify-content: space-between; align-items: center; border-radius: 5px; margin: 0 auto; float: none;}
#visual .search select, #visual .search span .fa-search{color: darkgoldenrod;}
#visual .search .fa-search{float: right; line-height: 16px;}
#visual .search select, #visual .search .summoner_search{border: none; float: left; background: white;}
#visual .search .search_input{width: 85%;}
#visual .search .summoner_search{width: 100%; padding: 5px 0; margin: 0;}

@media screen and (max-width: 768px){
    #visual{padding: 50px 15px 30px;}
    #visual .inner{padding: 0 20px;}
    #visual .search{width: 100%;}
}


/*recommended_meta*/
.recommended_meta .wrap{flex-flow: column wrap;}
.recommended_meta .view_more{width: 100%; border: 1px solid #c5906f; color: #c5906f; padding: 15px 0; text-align: center;}
.recommended_meta ul{width: 100%;}
.recommended_meta .box{background: #27282e; padding: 30px 20px; margin-bottom: 20px; border: 2px solid #323232; display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; color: white;}
.recommended_meta .box .btn{border: 1px solid #c5906f; color: #c5906f; border-radius: 3px; padding: 10px 20px;}
.recommended_meta .box .lnb{display: flex;}
.recommended_meta .box .icon{width: 250px; justify-content: flex-end;}
.recommended_meta .box .icon, .recommended_meta .box .synergy{padding-bottom: 15px;}
.recommended_meta .box .icon li{width: 30px; height: 30px;}
.recommended_meta .box .icon li img{width: 20px; height: 20px; margin: 5px;}
.recommended_meta .box .icon>.gold{background: url('../img/synergy/gold.svg'); }
.recommended_meta .box .icon>.silver{background: url('../img/synergy/silver.svg');}
.recommended_meta .box .icon>.bronze{background: url('../img/synergy/bronze.svg');}

.recommended_meta .box .champion{height: 60px;}
.recommended_meta .box .champion>li{position: relative; margin-right: 7px;}
.recommended_meta .box .champion>li:last-child{margin: 0;}
.recommended_meta .box .champion>li>img{width: 55px; height: 55px; border-radius: 8px;}
.recommended_meta .box .champion>li>.box_item{width: 55px; position: absolute; bottom: -6px; display: flex; justify-content: center;}
.recommended_meta .box .champion>li>.box_item>.item>img{width: 20px;}
.recommended_meta .box .champion>.grey>img{border: 2px solid grey;}
.recommended_meta .box .champion>.green>img{border: 2px solid #11b288;}
.recommended_meta .box .champion>.blue>img{border: 2px solid #207ac7;}
.recommended_meta .box .champion>.pink>img{border: 2px solid #c440da;}
.recommended_meta .box .champion>.yellow>img{border: 2px solid #ffb93b;}


.recommended_meta .box .champion>li>p.name{position: absolute;width: 100%; bottom: 8px;left: 50%;transform: translateX(-50%);text-align: center; color: rgb(255, 255, 255);text-shadow: rgb(0, 0, 0) -1px 0px 2px, rgb(0, 0, 0) 0px 1px 2px, rgb(0, 0, 0) 1px 0px 2px, rgb(0, 0, 0) 0px -1px 2px;font-size: 12px;}
.recommended_meta .box .champion>li>p.coin{position: absolute; top: 0; right: 0; padding: 0 3px; color: white; text-shadow: rgb(0, 0, 0) -1px 0px 2px, rgb(0, 0, 0) 0px 1px 2px, rgb(0, 0, 0) 1px 0px 2px, rgb(0, 0, 0) 0px -1px 2px; border-radius: 0 10px 0 0;}
.recommended_meta .box .champion .grey>p.coin{background: gray;}
.recommended_meta .box .champion .green>p.coin{background: #11b288;}
.recommended_meta .box .champion .blue>p.coin{background: #207ac7;}
.recommended_meta .box .champion .pink>p.coin{background: #c440da;}
.recommended_meta .box .champion .yellow>p.coin{background: #ffb93b;}

@media screen and (max-width: 1200px){
    .recommended_meta .box .champion{margin-bottom: 30px;}
}
    
@media screen and (max-width: 640px){
    .recommended_meta .box{flex-wrap: nowrap;}
    .recommended_meta .box .champion{height: auto;}
}

@media screen and (max-width: 640px){
    .recommended_meta .box{width: 100%; position: relative; flex-wrap: wrap; padding: 15px 5px 70px 10px;}
    .recommended_meta .box .champion>li>img{width: 43px; height: 43px; margin-bottom: 4px;}
    .recommended_meta .box .champion>li>.box_item{width: 100%; bottom: -10%;}
    .recommended_meta .box .champion>li>.box_item>.item>img{width: 15px;}
    .recommended_meta .box .btn{position: absolute; bottom: 10%; right: 3%;}
}

@media screen and (max-width: 420px){
    .recommended_meta .box{display: block;}
    .recommended_meta .box .icon{width: auto;}
    .recommended_meta .box .lnb{justify-content: initial; flex-wrap: wrap;}
}


/*youtube_video*/
.youtube_video .box{width: 380px; height: 250px;}
.youtube_video .box iframe{width: 100%; height: 100%;}

@media screen and (max-width: 1200px){
    .youtube_video .box{width: 31.5%; height: auto;}
}
@media screen and (max-width: 640px){
    .youtube_video .box{width: 100%; flex-flow: row; margin-bottom: 20px;}
    .youtube_video .box iframe{width: 100%; height: 200px;}
}

/*mechanism_Preview*/
.mechanism_Preview .box{width: 280px; padding-bottom: 40px;}
.mechanism_Preview .box .pic{position: relative;}
.mechanism_Preview .box .pic img{width: 100%;}
.mechanism_Preview .box .pic h3{width: 100%; padding: 20px; background: rgba(0,0,0,0.8); position: absolute; bottom: 0; color: white;}
.mechanism_Preview .box .info{height: 240px; background: #27282d; padding: 25px 20px;}
.mechanism_Preview .box .info .black{margin-bottom: 20px;}

.mechanism_Preview .box .info h4{display: inline-block; vertical-align: 13px; margin-left: 5px;}
.mechanism_Preview .box .info p{line-height: 25px;}
.mechanism_Preview .button{width: 580px; padding: 20px 0; border: 1px solid #c5906f; text-align: center; color: #c5906f;}
.mechanism_Preview .button:last-child{ background: #c5906f; color: #222221;}

@media screen and (max-width: 1200px){
    .mechanism_Preview .box{width: 48.5%;}
    .mechanism_Preview .button{width: 100%; margin-bottom: 20px;}
}
@media screen and (max-width: 640px){
    .mechanism_Preview .box{width: 100%;}
}

/*global_topten*/
.global_topten table{width: 100%;}
.global_topten table thead{height: 40px; background: #27282d;}
.global_topten table tbody td{text-align: center; padding: 10px; background: #2d2f37;}
.global_topten table tbody td span{vertical-align: 10px;}
.global_topten table tbody .summoner{text-align: left;}
.global_topten table tbody .summoner>img{border-radius: 50%;}
.global_topten table tbody td img{width: 30px;}
.global_topten table tbody td:nth-child(6){color: #ca9372;}
.global_topten table tbody .button a{padding: 10px 0;}

@media screen and (max-width: 1200px){
    .global_topten table tbody .tear span{display: none;}
}
@media screen and (max-width: 640px){
    
    .global_topten table th:nth-child(4),
    .global_topten table th:nth-child(6),
    .global_topten table th:nth-child(7),
    .global_topten table th:nth-child(8){display: none;}

    .global_topten table td:nth-child(4),
    .global_topten table td:nth-child(6),
    .global_topten table td:nth-child(7),
    .global_topten table td:nth-child(8){display: none;}
}


/*recommended_meta_title*/
.recommended_meta_title .title{background: url('../img/sub2-content/bg-meta.jpg'); background-size: cover; padding: 20px; margin-bottom: 20px;}
.recommended_meta_title .title h1{padding: 10px 0;}
.recommended_meta_title .title .box{display: flex; padding: 10px 0;}
.recommended_meta_title .title .button a{display: inline-block; margin-right: 10px; padding: 8px 15px;}
.recommended_meta_title .title .button:first-child a{background: #c5906f; color: white;}
.recommended_meta_title .title .button:last-child a{border: 1px solid #ea3395; color: #ea3395;}
.recommended_meta_title .notice{background: #352c2e; padding: 10px 20px; display: flex; align-items: center; border-radius: 5px;}
.recommended_meta_title .notice {background: #352c2e;}
.recommended_meta_title .notice img{margin-right: 10px;}

/*neon_night*/
.neon_night{background: url(../img/sub1-content/bg-main.jpg); background-size: cover;}
.neon_night h2{padding-bottom: 0; color: white; text-align: center; font-size: 18px;}
.neon_night p{color: white; padding: 5px 0;}
.neon_night p:last-child{color: pink;}
.neon_night .title{text-align: center; margin-bottom: 50px;}
.neon_night .sub{display: flex; flex-flow: row wrap; justify-content: space-between; padding: 30px 0;}
.neon_night .sub li a{width: 180px; background: #ea3395; padding: 15px 25px; text-align: center; color: white; border-radius: 5px;}

@media screen and (max-width: 1200px){
    .neon_night .sub li a{width: 320px; margin-bottom: 5%;}
    .neon_night .sub{justify-content: space-evenly;}
}
    
@media screen and (max-width: 640px){
    .neon_night .title img{width: 100%;}
    .neon_night .sub{justify-content: center;}
}

/*Notable_features*/
.Notable_features .box{width: 380px; background: black;}
.Notable_features .box .pic img{width: 100%;}
.Notable_features .box .info{height: 200px; color: white; padding: 20px;}
.Notable_features .box .info h3{padding-bottom: 15px;}

@media screen and (max-width: 1200px){
    .Notable_features .box{width: 48.8%; margin-bottom: 3%;}
}
    
@media screen and (max-width: 640px){
    .Notable_features .box{width: 100%; margin-bottom: 5%;}
}


/*new_synergy*/
.new_synergy .box{width: 280px; height: 470px; display: flex; flex-direction: column; justify-content: space-between; padding: 20px; margin-bottom: 20px; background: black;}
.new_synergy .box p{padding: 20px 0;}
.new_synergy .box .whole_box{display: flex; align-items: center;}
.new_synergy .box .whole_box h3{font-size: 15px; color: white; margin-left: 5px;}
.new_synergy .box .whole_box h3 span{margin-left: 5px; color: gray;}
.new_synergy .box .whole_box .icon{width: 50px; height: 50px; background: url('../img/synergy/black.svg'); padding: 10px;}
.new_synergy .box .whole_box .icon img{width: 30px; height: 30px;}
.new_synergy .box .sub{display: flex; flex-wrap: wrap;}
.new_synergy .box .sub li{margin-right: 5px; border-radius: 5px; margin-bottom: 5px;}
.new_synergy .box .sub img{width: 40px; height: 40px;}
.new_synergy .box .sub .grey{border: 2px solid grey;}
.new_synergy .box .sub .green{border: 2px solid #11b288;}
.new_synergy .box .sub .blue{border: 2px solid #207ac7;}
.new_synergy .box .sub .pink{border: 2px solid #c440da;}
.new_synergy .box .sub .yellow{border: 2px solid #ffb93b;}
.new_synergy .button a{border: 1px solid #ea3395; margin-top: 30px; padding: 20px 0; color: white; text-align: center; background: url(../img/sub1-content/bg-btn-tft6-5.png); border-radius: 5px;}

@media screen and (max-width: 1200px){
    .new_synergy .box{width: 48.8%;}
}
    
@media screen and (max-width: 640px){
    .new_synergy .box{width: 100%;}
}


/*new_champion*/
.new_champion h2:nth-child(3){margin-top: 50px;}
.new_champion .box{width: 280px; margin-bottom: 40px; background: black;}
.new_champion .hidden{background: none;}
.new_champion .box img{width: 100%;}
.new_champion .box p{padding: 20px 0;}
.new_champion .box .pic{position: relative;}
.new_champion .box .pic h3{width: 100%; background: rgba(0,0,0,0.5); padding: 15px; position: absolute; bottom: 0; color: white;}
.new_champion .box .info{height: 350px; padding: 20px;}
.new_champion .box .whole_box{display: flex; align-items: center;}
.new_champion .box .whole_box h4{font-size: 15px; color: white; margin-left: 10px;}
.new_champion .box .whole_box .skill img{width: 40px; border-radius: 10px;}
.new_champion .box>.button>a{background: #102c8b; text-align: center; color: white; padding: 15px 0;}
.new_champion .inner>.button>a{border: 1px solid #ea3395; margin-top: 30px; padding: 20px 0; color: white; text-align: center; background: url(../img/sub1-content/bg-btn-tft6-5.png); border-radius: 5px;}

@media screen and (max-width: 1200px){
    .new_champion .box{width: 48.8%;}
}
    
@media screen and (max-width: 640px){
    .new_champion .box{width: 100%;}
}

/*neon_night_end*/
.neon_night_end{background: url('../img/sub1-content/bg-goto-top.png'); background-size: cover;}
.neon_night_end .inner{text-align: center;}
.neon_night_end .inner h2{color: white; font-size: 20px;}
.neon_night_end .inner a{width: 200px; margin: 0 auto; color: white; padding: 20px 0; background: linear-gradient(270deg,#2540ea,#ea3395); border-radius: 5px;}

@media screen and (max-width: 1200px){
    
}
    
@media screen and (max-width: 640px){
    
}


/* tab_menu */
.tab_menu{padding: 40px 0;}
.tab_menu .gnb{background: #363944;}
.tab_menu .gnb .lnb{width: 50%;}
.tab_menu .gnb .lnb a{text-align: center; padding: 15px 0;font-size: 1.1rem;font-weight: 400;}
.tab_menu .gnb .lnb.on a{background: #ea3395; color: white;}

/* tab_menu_ver */
.tab_menu_ver{width: 300px;}
.tab_menu_ver .gnb{font-size: 1.1rem;}
.tab_menu_ver .gnb .lnb{padding: 5px 8px; margin-right: 15px; cursor: pointer;}
.tab_menu_ver .gnb .lnb.on{position: relative; color: #cf849b;}
.tab_menu_ver .gnb .lnb.on::after{content: ''; width: 90%; position: absolute; bottom: -15px; left: 4px; border-bottom: 2px solid #cf849b; display: block;}
.tab_menu_ver .gnb .lnb:last-child{margin-right: 0;}


/* batch_tool */
.batch_tool{}
.batch_tool .box{background: #363944; padding: 15px;border-radius: 5px;margin: 10px 0;border: 1px solid rgb(63, 63, 63);}
.batch_tool .batch_tool_wrap{padding: 30px 0;}
.batch_tool .champ_info_tab{width: 200px;}
.batch_tool .champ_info_tab .champ_Detail_tab{width: 100%; padding: 0;}
.batch_tool .champ_synergy_tab{width: 200px;padding: 5px;background: rgb(39, 40, 46); border: 1px solid rgb(73 73 73); border-radius: 5px;}
.batch_tool .champ_synergy_tab .synergy_icon{margin-right: 8px;}
.batch_tool .champ_synergy_tab .synergy_data{}
.batch_tool .champ_synergy_tab .synergy_data p{font-size: 1.1rem; font-weight: 500;}
.batch_tool .champ_batch{position: relative;}
.batch_tool .champ_batch_tool{width: 660px; margin-bottom: 20px;}
.batch_tool .champ_batch_tool.small{position: absolute; top: 50%; left: 35%; transform: translate(-50.54%, -51.9%);}
.batch_tool .champ_batch_tool.small .hex{width: 72px; margin-right: 10px; margin-bottom: 29px;transform: scale(0.95);}
.batch_tool .champ_batch_tool.small .hex .hex-cont{background: #252523;}
.batch_tool .champ_select_tool{width: 640px; padding: 10px;}

.batch_tool .champ_select_tool .recommended_meta .wrap{flex-flow: row wrap;}
.batch_tool .champ_select_tool .recommended_meta .box{padding: 0;}
.batch_tool .champ_select_tool .recommended_meta .box .champion{height: auto; margin: 0;}
.batch_tool .champ_select_tool .recommended_meta .box .champion>li{margin-right: 9.5px; margin-bottom: 5px; position: relative;}
.batch_tool .champ_select_tool .recommended_meta .box .champion>li>img{width: 60px; height: 60px;}
.batch_tool .champ_select_tool .recommended_meta .box .champion>li:nth-of-type(9n+9){margin-right: 0;}

.batch_tool .champ_select_tool .search{padding: 5px 12px; margin: 0;}
.batch_tool .champ_select_tool .search .fa-search{color: #cf849b;}
.batch_tool .champ_select_tool .search .search_input .summoner_search{margin-left: 0;}
.batch_tool .champ_Detail_tab, .batch_tool .item_Detail_tab{width: 300px; padding: 10px;}
.batch_tool .champ_Detail_tab{padding-top: 0;}
.batch_tool .champ_Detail_tab .box{margin-top: 0;}
.batch_tool .champ_Detail_tab .box .fa-exclamation-triangle{display: block; text-align: center;}
.batch_tool .champ_Detail_tab .combination_table{flex-direction: column; text-align: center; padding: 30px 15px;}

.batch_tool .item_Detail_tab .common{padding: 10px 0;}
.batch_tool .item_Detail_tab .common .item{margin-right: 9px; margin-bottom: 2px;}
.batch_tool .item_Detail_tab .common .item img{width: 32px; height: 32px;}
.batch_tool .item_Detail_tab .common .item:nth-last-of-type(7n+6){margin-right: 0;}
.batch_tool .item_Detail_tab .tab_menu_ver .gnb .lnb.on::after{bottom: -10px;}
.batch_tool .tab_menu_tool::after{content: ''; width: 100%; border-bottom: 1px solid #222221; display: inline-block; margin-top: 10px;}



/* footer */
#footer{background: rgba(0,0,0,0.9); padding: 20px;}
#footer .inner a{display: inline;}
#footer .inner a, #footer .inner h2, #footer .inner p{padding: 10px 0; color: gray;}
#footer .inner h2{padding-top: 0;}

